section.ability
  .row.justify-content-center
    .row.justify-content-center
      .a-h2.col
        h2.ability-h2 Профессиональный подход<
      .w-100
      .badge
        img.first(src='/img/svg/11.svg', alt='')
        img.second(src='/img/svg/1.svg', alt='')
      .badge
        img.first(src='/img/svg/22.svg', alt='')
        img.second(src='/img/svg/2.svg', alt='')
      .badge
        img.first(src='/img/svg/33.svg', alt='')
        img.second(src='/img/svg/3.svg', alt='')
      .badge
        img.first(src='/img/svg/44.svg', alt='')
        img.second(src='/img/svg/4.svg', alt='')
      .badge
        img.first(src='/img/svg/55.svg', alt='')
        img.second(src='/img/svg/5.svg', alt='')
      .badge
        img.first(src='/img/svg/66.svg', alt='')
        img.second(src='/img/svg/6.svg', alt='')
      .badge
        img.first(src='/img/svg/77.svg', alt='')
        img.second(src='/img/svg/7.svg', alt='')
      .w-100
      .container
        .row
          .a-text
            h4.a-h4 Лазурит" - изготовление памятников на современном оборудовании
            p.ability-p
              | Специалисты камнеобрабатывающего предприятия "Лазурит" имеют огромный опыт работы и с гранитом, и мрамором, и со всеми другими природными материалами.
							|	За 15 лет работы в сфере производства ритуальных изделий, компания "Лазурит", созданной на базе ООО НПО "Экспериментальный завод", стала клиентоориентированной структурой, оснащенной cовременным камнерезным оборудованием.
