section.contacts.text-center
  .row
    .contacts-h2.col-12
      h2.cont-h2 Контакты
    .c-pic.right.col-md-6
      figure.imghvr-fade
        p.hover-text
          | Производство: г.Реж
          br
          |  ул. Объездная 3
          br
          |  8 (34364) 3-16-60
          br
          |  cko-rezh@mail.ru
          br
        figcaption.no-padding
          img(src='/img/pic/zavod.jpg', alt='')
    .c-pic.left.col-md-6
      figure.imghvr-fade
        p.hover-text
          | Павильон у “Никольского”
          br
          |  кладбища
          br
          |  8-900-206-84-97
          br
          |  lazurit-nik@mail.ru
        figcaption.no-padding
          img(src='/img/pic/pavilion.jpg', alt='')
    .c-pic.right.col-md-6
      figure.imghvr-fade
        p.hover-text
          | Магазин: г. Екатеринбург
          br
          |  ул. Челюскинцев 33
          br
          |  8 (343) 215-06-22
          br
          |  lazurit-ekat@mail.ru
        figcaption.no-padding
          img(src='/img/pic/Ekat.jpg', alt='')
    .c-pic.left.col-md-6
      figure.imghvr-fade
        p.hover-text
          | Магазин: г. Реж
          br
          |  ул. Красноармейская 10
          br
          |  8 (34364) 2-41-01
          br
          |  lazurit-rezh@mail.ru
        figcaption.no-padding
          img(src='/img/pic/Rez.jpg', alt='')
    .col
      button.btn.btn-warning.orange(type='button')
        | Оставить заявку на звонок
