section.main-page
	header.main-header
		.wrapper
			.top-header
				.logo
					img.img-responsive(src='assets/img/logo.png', alt='Логотип')
				.top-menu
					.row
						a.top-menu-item(href='#') Главная
						a.top-menu-item(href='#') Наши работы
						a.top-menu-item(href='#') Услуги
						a.top-menu-item(href='#') Материалы
						a.top-menu-item(href='#') Контакты
					.row
						.contact
							a.contact__phone(href="tel:+73432150622") 8 (343) 215-06-22
							br
							a.contact__phone(href="tel:+73436431660") 8 (34364) 3-16-60
						button.contact-btn(type='button') Оставить заявку на звонок

//-               .header-content
//-                 h1 Изготовление и установка памятников
//-           .w-100
//-           .col
//-             .slider.owl-carousel
//-               a.slider-item(href='/img/pic/slide_1.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_1.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_2.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_2.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_3.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_3.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_4.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_4.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_5.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_5.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_6.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_6.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_1.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_1.jpg', width='134', height='235', alt='title')
//-               a.slider-item(href='/img/pic/slide_2.jpg', data-lightbox='image', title='This is the description')
//-                 img(src='/img/pic/slide_2.jpg', width='134', height='235', alt='title')
//- .row.justify-content-center
//-   .s-menu.col
//-     .container
//-       .row.justify-content-center
//-         .s-menu-block.col
//-           nav
//-             ul
//-               li.s-menu-item Главная
//-               li.s-menu-item Наши работы
//-               li.s-menu-item Услуги
//-               li.s-menu-item Материалы
//-               li.s-menu-item Контакты
