section.s-reviews.text-center
  .row
    .col-sm-12
      h2.r-h2 Отзывы
    .container
      .row
        .col.rel
          .review-score
            ul.digits
              li.digit 1
              li.digit 2
              li.digit 3
              li.digit 4
              li.digit 5
          .owl-carousel.reviews
            .review
              p.review-header Татьяна Новикова
              p.review-text
                | Обращались в эту организацию для заказа памятника. Я скажу вам честно: это единственное место где нас поняли. До этого были в разных фирмах, но везде заезженная пластинка, все работают по отработанным шаблонам, а как речь заходит о чём-то индивидуальном, то сразу ступор и непонимание. Специалисты ООО "Лазурит" не только нас поняли и услышали, но и помогли нам сделать крайне интересный по задумке проект, а итоговая цена очень даже нас удивила. Мы расчитывали на более высокую стоимость.
                | Дизайнер составил нам красивый 3Д макет будущего памятника. Немного долго получилось по времени при изготовлении памятника, но это не критично. Спасибо огромное всем работникам кто принимал участие в изготовлении. Вы настоящие профессионалы своего дела. Монтаж нам сделали очень качественно, могилка очень выделяется среди соседних.Всё ровно и без изъянов. Отдельное спасибо художнице Юлии, которая сделала очень качественный портрет. Искренне советуем всем обращаться в Лазурит.
            .review
              p.review-header Андреев
              p.review-text
                | Я могу только спасибо сказать данной компании, никакой возни, всё по делу - выслушали, посоветовали, оформили. Через 2 дня отправили эскизы на почту. Через 23 дня посмотрели памятник на производстве, приняли портрет - Всё отлично! Теперь ждём весну и установку, надеюсь всё так же гладко пройдёт. Благодарю за отличное изображение и работу в целом - молодцы!
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            .review
              p.review-header Чернеев
              p.review-text
                | Выражаю благодарность директору Каунову Петру Викторовичу, художнику-оформителю, а также всем сотрудникам Лазурита, кто принимал участие в изготовлении памятника моему отцу. Спасибо за то, что есть еще в наше время люди работающие на совесть.
                | Памятник сделали отличный, особенно понравилось качество самого камня и фотография на памятнике. Немного затянули со сроками установки, но это не критично, тем более сам виноват, что обратился в самый разгар лета. Ещё раз огромное спасибо. Дай бог вам удачи.
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            .review
              p.review-header Виктор
              p.review-text
                | Хотел бы от всей души поблагодарить коллектив предприятия ЛАЗУРИТ за качественно проделанную работу. Заказывал в этой фирме памятник покойному отцу. Несмотря на то, что немного не попали по срокам, памятник получился просто великолепный,Художник нарисовал портрет так, что папа получился как живой. Все родственники очень довольны. Отдельное спасибо менеджерам которые со мной работали, очень грамотные и вежливые ребята, всё рассказали и объяснили и всё время были на связи.
                | Самое главное что памятник получился ещё и намного дешевле чем в других фирмах к которым я обращался. Ещё раз спасибо, я очень рад что к вам обратился.
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            .review
              p.review-header Владимир Семёнов
              p.review-text.small
                | Не могу не оставить отзыв об этой компании по производству памятников. Когда делал заказ на памятник, то не ожидал, что есть ещё в наше время честные и добросовестные фирмы в сфере ритуальных услуг. Сотрудники Лазурита предложили мне несколько интересных вариантов и мы остановились на одном из них. Тяжело было на сердце, когда выбирали, дело ведь очень личное и тонкое. Но несмотря на это заказ мне оформили очень грамотно и без лишних навязываний, очень меня поняв в моей непростой ситуации. Памятник "Лазурит" изготовили в срок. Фотография получилась просто изумительная, и сам памятник выглядит достойно.
                | Правда предварительно мне прислали фото готового памятника на почту и я даже не узнал на фото свою покойную супругу. Но оказалось что при съёмке памятника на фотоаппарат кадр получается искаженным. Когда же я увидел памятник на производстве, то все сомнения отпали сами собой, портрет вышел отличный.
                | Очень был удивлен насколько серьёзно оснащено предприятие, побывав в цехе в городе Реж, когда принимал готовый памятник. В цехе стоят огромные станки по переработке камня. Они на самом деле настоящие производители, делают изделия от начала и до конца, выпиливая памятники из огромных глыб.
                | Рекомендую всем ООО "ЛАЗУРИТ", как отличное предприятие. Ставлю твёрдую пять!!! Удачи вам и огромное спасибо!!!
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            //
              DOTS Container
              <ul id='carousel-custom-dots' class='owl-dots'>
              <li class="owl-dot">one</li>
              <li class="owl-dot">two</li>
              </ul>
