section.s-reviews.text-center
  .row
    .col-sm-12
      h2.r-h2 Отзывы
    .container
      .row
        .col.rel
          .review-score
            ul.digits
              li.digit 1
              li.digit 2
              li.digit 3
              li.digit 4
              li.digit 5
          .owl-carousel.reviews
            .review
              p.review-header Татьяна Новикова
              p.review-text
                | Обращались в эту организацию для заказа памятника. Я скажу вам честно: это единственное место где нас поняли. До этого были в разных фирмах, но везде заезженная пластинка, все работают по отработанным шаблонам, а как речь заходит о чём-то индивидуальном, то сразу ступор и непонимание. Специалисты ООО "Лазурит" не только нас поняли и услышали, но и помогли нам сделать крайне интересный по задумке проект, а итоговая цена очень даже нас удивила. Мы расчитывали на более высокую стоимость.
                | Дизайнер составил нам красивый 3Д макет будущего памятника. Немного долго получилось по времени при изготовлении памятника, но это не критично. Спасибо огромное всем работникам кто принимал участие в изготовлении. Вы настоящие профессионалы своего дела. Монтаж нам сделали очень качественно, могилка очень выделяется среди соседних.Всё ровно и без изъянов. Отдельное спасибо художнице Юлии, которая сделала очень качественный портрет. Искренне советуем всем обращаться в Лазурит.
            .review
              p.review-header Андреев
              p.review-text
                | Я могу только спасибо сказать данной компании, никакой возни, всё по делу - выслушали, посоветовали, оформили. Через 2 дня отправили эскизы на почту. Через 23 дня посмотрели памятник на производстве, приняли портрет - Всё отлично! Теперь ждём весну и установку, надеюсь всё так же гладко пройдёт. Благодарю за отличное изображение и работу в целом - молодцы!
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            .review
              p.review-header Чернеев
              p.review-text
                | &Vcy;&ycy;&rcy;&acy;&zhcy;&acy;&yucy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&ncy;&ocy;&scy;&tcy;&softcy; &dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy;&ucy; &Kcy;&acy;&ucy;&ncy;&ocy;&vcy;&ucy; &Pcy;&iecy;&tcy;&rcy;&ucy; &Vcy;&icy;&kcy;&tcy;&ocy;&rcy;&ocy;&vcy;&icy;&chcy;&ucy;, &khcy;&ucy;&dcy;&ocy;&zhcy;&ncy;&icy;&kcy;&ucy;-&ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&iecy;&lcy;&yucy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy;&scy;&iecy;&mcy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&acy;&mcy; &Lcy;&acy;&zcy;&ucy;&rcy;&icy;&tcy;&acy;, &kcy;&tcy;&ocy; &pcy;&rcy;&icy;&ncy;&icy;&mcy;&acy;&lcy;
                | &ucy;&chcy;&acy;&scy;&tcy;&icy;&iecy; &vcy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&icy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&acy; &mcy;&ocy;&iecy;&mcy;&ucy; &ocy;&tcy;&tscy;&ucy;. &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &zcy;&acy; &tcy;&ocy;, &chcy;&tcy;&ocy; &iecy;&scy;&tcy;&softcy; &iecy;&shchcy;&iecy; &vcy; &ncy;&acy;&shcy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &lcy;&yucy;&dcy;&icy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&yucy;&shchcy;&icy;&iecy; &ncy;&acy; &scy;&ocy;&vcy;&iecy;&scy;&tcy;&softcy;.
                | &Pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy; &scy;&dcy;&iecy;&lcy;&acy;&lcy;&icy; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ycy;&jcy;, &ocy;&scy;&ocy;&bcy;&iecy;&ncy;&ncy;&ocy; &pcy;&ocy;&ncy;&rcy;&acy;&vcy;&icy;&lcy;&ocy;&scy;&softcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &scy;&acy;&mcy;&ocy;&gcy;&ocy; &kcy;&acy;&mcy;&ncy;&yacy; &icy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy; &ncy;&acy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&iecy;. &Ncy;&iecy;&mcy;&ncy;&ocy;&gcy;&ocy; &zcy;&acy;&tcy;&yacy;&ncy;&ucy;&lcy;&icy;
                | &scy;&ocy; &scy;&rcy;&ocy;&kcy;&acy;&mcy;&icy; &ucy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&kcy;&icy;, &ncy;&ocy; &ecy;&tcy;&ocy; &ncy;&iecy; &kcy;&rcy;&icy;&tcy;&icy;&chcy;&ncy;&ocy;, &tcy;&iecy;&mcy; &bcy;&ocy;&lcy;&iecy;&iecy; &scy;&acy;&mcy; &vcy;&icy;&ncy;&ocy;&vcy;&acy;&tcy;, &chcy;&tcy;&ocy; &ocy;&bcy;&rcy;&acy;&tcy;&icy;&lcy;&scy;&yacy; &vcy; &scy;&acy;&mcy;&ycy;&jcy; &rcy;&acy;&zcy;&gcy;&acy;&rcy; &lcy;&iecy;&tcy;&acy;. &IEcy;&shchcy;&iocy; &rcy;&acy;&zcy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy;
                | &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;. &Dcy;&acy;&jcy; &bcy;&ocy;&gcy; &vcy;&acy;&mcy; &ucy;&dcy;&acy;&chcy;&icy;.
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            .review
              p.review-header Виктор
              p.review-text
                | &KHcy;&ocy;&tcy;&iecy;&lcy; &bcy;&ycy; &ocy;&tcy; &vcy;&scy;&iecy;&jcy; &dcy;&ucy;&shcy;&icy; &pcy;&ocy;&bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&icy;&tcy;&softcy; &kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tcy;&icy;&vcy; &pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy; &Lcy;&Acy;&Zcy;&Ucy;&Rcy;&Icy;&Tcy; &zcy;&acy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy; &pcy;&rcy;&ocy;&dcy;&iecy;&lcy;&acy;&ncy;&ncy;&ucy;&yucy; &rcy;&acy;&bcy;&ocy;&tcy;&ucy;. &Zcy;&acy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&lcy; &vcy; &ecy;&tcy;&ocy;&jcy; &fcy;&icy;&rcy;&mcy;&iecy;
                | &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy; &pcy;&ocy;&kcy;&ocy;&jcy;&ncy;&ocy;&mcy;&ucy; &ocy;&tcy;&tscy;&ucy;. &Ncy;&iecy;&scy;&mcy;&ocy;&tcy;&rcy;&yacy; &ncy;&acy; &tcy;&ocy;, &chcy;&tcy;&ocy; &ncy;&iecy;&mcy;&ncy;&ocy;&gcy;&ocy; &ncy;&iecy; &pcy;&ocy;&pcy;&acy;&lcy;&icy; &pcy;&ocy; &scy;&rcy;&ocy;&kcy;&acy;&mcy;, &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&scy;&yacy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &vcy;&iecy;&lcy;&icy;&kcy;&ocy;&lcy;&iecy;&pcy;&ncy;&ycy;&jcy;,
                | &KHcy;&ucy;&dcy;&ocy;&zhcy;&ncy;&icy;&kcy; &ncy;&acy;&rcy;&icy;&scy;&ocy;&vcy;&acy;&lcy; &pcy;&ocy;&rcy;&tcy;&rcy;&iecy;&tcy; &tcy;&acy;&kcy;, &chcy;&tcy;&ocy; &pcy;&acy;&pcy;&acy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&scy;&yacy; &kcy;&acy;&kcy; &zhcy;&icy;&vcy;&ocy;&jcy;. &Vcy;&scy;&iecy; &rcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&icy; &ocy;&chcy;&iecy;&ncy;&softcy; &dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&ncy;&ycy;. &Ocy;&tcy;&dcy;&iecy;&lcy;&softcy;&ncy;&ocy;&iecy; &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;
                | &mcy;&iecy;&ncy;&iecy;&dcy;&zhcy;&iecy;&rcy;&acy;&mcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &scy;&ocy; &mcy;&ncy;&ocy;&jcy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&lcy;&icy;, &ocy;&chcy;&iecy;&ncy;&softcy; &gcy;&rcy;&acy;&mcy;&ocy;&tcy;&ncy;&ycy;&iecy; &icy; &vcy;&iecy;&zhcy;&lcy;&icy;&vcy;&ycy;&iecy; &rcy;&iecy;&bcy;&yacy;&tcy;&acy;, &vcy;&scy;&iocy; &rcy;&acy;&scy;&scy;&kcy;&acy;&zcy;&acy;&lcy;&icy; &icy; &ocy;&bcy;&hardcy;&yacy;&scy;&ncy;&icy;&lcy;&icy; &icy; &vcy;&scy;&iocy; &vcy;&rcy;&iecy;&mcy;&yacy; &bcy;&ycy;&lcy;&icy;
                | &ncy;&acy; &scy;&vcy;&yacy;&zcy;&icy;.
                br
                |  &Scy;&acy;&mcy;&ocy;&iecy; &gcy;&lcy;&acy;&vcy;&ncy;&ocy;&iecy; &chcy;&tcy;&ocy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&scy;&yacy; &iecy;&shchcy;&iocy; &icy; &ncy;&acy;&mcy;&ncy;&ocy;&gcy;&ocy; &dcy;&iecy;&shcy;&iecy;&vcy;&lcy;&iecy; &chcy;&iecy;&mcy; &vcy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy; &fcy;&icy;&rcy;&mcy;&acy;&khcy; &kcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&mcy; &yacy; &ocy;&bcy;&rcy;&acy;&shchcy;&acy;&lcy;&scy;&yacy;. &IEcy;&shchcy;&iocy; &rcy;&acy;&zcy; &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;,
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&yacy; &ocy;&chcy;&iecy;&ncy;&softcy; &rcy;&acy;&dcy; &chcy;&tcy;&ocy; &kcy; &vcy;&acy;&mcy; &ocy;&bcy;&rcy;&acy;&tcy;&icy;&lcy;&scy;&yacy;.
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            .review
              p.review-header Владимир Семёнов
              p.review-text.small
                | &Ncy;&iecy; &mcy;&ocy;&gcy;&ucy; &ncy;&iecy; &ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &ocy;&tcy;&zcy;&ycy;&vcy; &ocy;&bcy; &ecy;&tcy;&ocy;&jcy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy; &pcy;&ocy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ucy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&ocy;&vcy;. &Kcy;&ocy;&gcy;&dcy;&acy; &dcy;&iecy;&lcy;&acy;&lcy; &zcy;&acy;&kcy;&acy;&zcy; &ncy;&acy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;, &tcy;&ocy; &ncy;&iecy; &ocy;&zhcy;&icy;&dcy;&acy;&lcy;, &chcy;&tcy;&ocy; &iecy;&scy;&tcy;&softcy;
                | &iecy;&shchcy;&iocy; &vcy; &ncy;&acy;&shcy;&iecy; &vcy;&rcy;&iecy;&mcy;&yacy; &chcy;&iecy;&scy;&tcy;&ncy;&ycy;&iecy; &icy; &dcy;&ocy;&bcy;&rcy;&ocy;&scy;&ocy;&vcy;&iecy;&scy;&tcy;&ncy;&ycy;&iecy; &fcy;&icy;&rcy;&mcy;&ycy; &vcy; &scy;&fcy;&iecy;&rcy;&iecy; &rcy;&icy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &ucy;&scy;&lcy;&ucy;&gcy;. &Scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&icy; &Lcy;&acy;&zcy;&ucy;&rcy;&icy;&tcy;&acy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&icy;&lcy;&icy; &mcy;&ncy;&iecy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy;
                | &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ncy;&ycy;&khcy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ocy;&vcy; &icy; &mcy;&ycy; &ocy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&icy;&lcy;&icy;&scy;&softcy; &ncy;&acy; &ocy;&dcy;&ncy;&ocy;&mcy; &icy;&zcy; &ncy;&icy;&khcy;. &Tcy;&yacy;&zhcy;&iecy;&lcy;&ocy; &bcy;&ycy;&lcy;&ocy; &ncy;&acy; &scy;&iecy;&rcy;&dcy;&tscy;&iecy;, &kcy;&ocy;&gcy;&dcy;&acy; &vcy;&ycy;&bcy;&icy;&rcy;&acy;&lcy;&icy;, &dcy;&iecy;&lcy;&ocy; &vcy;&iecy;&dcy;&softcy; &ocy;&chcy;&iecy;&ncy;&softcy; &lcy;&icy;&chcy;&ncy;&ocy;&iecy;
                | &icy; &tcy;&ocy;&ncy;&kcy;&ocy;&iecy;. &Ncy;&ocy; &ncy;&iecy;&scy;&mcy;&ocy;&tcy;&rcy;&yacy; &ncy;&acy; &ecy;&tcy;&ocy; &zcy;&acy;&kcy;&acy;&zcy; &mcy;&ncy;&iecy; &ocy;&fcy;&ocy;&rcy;&mcy;&icy;&lcy;&icy; &ocy;&chcy;&iecy;&ncy;&softcy; &gcy;&rcy;&acy;&mcy;&ocy;&tcy;&ncy;&ocy; &icy; &bcy;&iecy;&zcy; &lcy;&icy;&shcy;&ncy;&icy;&khcy; &ncy;&acy;&vcy;&yacy;&zcy;&ycy;&vcy;&acy;&ncy;&icy;&jcy;, &ocy;&chcy;&iecy;&ncy;&softcy; &mcy;&iecy;&ncy;&yacy; &pcy;&ocy;&ncy;&yacy;&vcy; &vcy; &mcy;&ocy;&iecy;&jcy;
                | &ncy;&iecy;&pcy;&rcy;&ocy;&scy;&tcy;&ocy;&jcy; &scy;&icy;&tcy;&ucy;&acy;&tscy;&icy;&icy;. &Pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy; &quot;&Lcy;&acy;&zcy;&ucy;&rcy;&icy;&tcy;&quot; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&lcy;&icy; &vcy; &scy;&rcy;&ocy;&kcy;. &Fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&acy;&scy;&softcy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &icy;&zcy;&ucy;&mcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy;, &icy; &scy;&acy;&mcy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;
                | &vcy;&ycy;&gcy;&lcy;&yacy;&dcy;&icy;&tcy; &dcy;&ocy;&scy;&tcy;&ocy;&jcy;&ncy;&ocy;.
                br
                |  &Pcy;&rcy;&acy;&vcy;&dcy;&acy; &pcy;&rcy;&iecy;&dcy;&vcy;&acy;&rcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &mcy;&ncy;&iecy; &pcy;&rcy;&icy;&scy;&lcy;&acy;&lcy;&icy; &fcy;&ocy;&tcy;&ocy; &gcy;&ocy;&tcy;&ocy;&vcy;&ocy;&gcy;&ocy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&acy; &ncy;&acy; &pcy;&ocy;&chcy;&tcy;&ucy; &icy; &yacy; &dcy;&acy;&zhcy;&iecy; &ncy;&iecy; &ucy;&zcy;&ncy;&acy;&lcy; &ncy;&acy; &fcy;&ocy;&tcy;&ocy; &scy;&vcy;&ocy;&yucy; &pcy;&ocy;&kcy;&ocy;&jcy;&ncy;&ucy;&yucy; &scy;&ucy;&pcy;&rcy;&ucy;&gcy;&ucy;.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ncy;&ocy; &ocy;&kcy;&acy;&zcy;&acy;&lcy;&ocy;&scy;&softcy; &chcy;&tcy;&ocy; &pcy;&rcy;&icy; &scy;&hardcy;&iocy;&mcy;&kcy;&iecy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&acy; &ncy;&acy; &fcy;&ocy;&tcy;&ocy;&acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy; &kcy;&acy;&dcy;&rcy; &pcy;&ocy;&lcy;&ucy;&chcy;&acy;&iecy;&tcy;&scy;&yacy; &icy;&scy;&kcy;&acy;&zhcy;&iecy;&ncy;&ncy;&ycy;&mcy;. &Kcy;&ocy;&gcy;&dcy;&acy; &zhcy;&iecy; &yacy; &ucy;&vcy;&icy;&dcy;&iecy;&lcy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy; &ncy;&acy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;,
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&tcy;&ocy; &vcy;&scy;&iecy; &scy;&ocy;&mcy;&ncy;&iecy;&ncy;&icy;&yacy; &ocy;&tcy;&pcy;&acy;&lcy;&icy; &scy;&acy;&mcy;&icy; &scy;&ocy;&bcy;&ocy;&jcy;, &pcy;&ocy;&rcy;&tcy;&rcy;&iecy;&tcy; &vcy;&ycy;&shcy;&iecy;&lcy; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ycy;&jcy;.
                br
                |  &Ocy;&chcy;&iecy;&ncy;&softcy; &bcy;&ycy;&lcy; &ucy;&dcy;&icy;&vcy;&lcy;&iecy;&ncy; &ncy;&acy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy; &scy;&iecy;&rcy;&softcy;&iocy;&zcy;&ncy;&ocy; &ocy;&scy;&ncy;&acy;&shchcy;&iecy;&ncy;&ocy; &pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy;, &pcy;&ocy;&bcy;&ycy;&vcy;&acy;&vcy; &vcy; &tscy;&iecy;&khcy;&iecy; &vcy; &gcy;&ocy;&rcy;&ocy;&dcy;&iecy; &Rcy;&iecy;&zhcy;, &kcy;&ocy;&gcy;&dcy;&acy; &pcy;&rcy;&icy;&ncy;&icy;&mcy;&acy;&lcy; &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&jcy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;. &Vcy; &tscy;&iecy;&khcy;&iecy; &scy;&tcy;&ocy;&yacy;&tcy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ycy;&iecy; &scy;&tcy;&acy;&ncy;&kcy;&icy; &pcy;&ocy; &pcy;&iecy;&rcy;&iecy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&iecy; &kcy;&acy;&mcy;&ncy;&yacy;. &Ocy;&ncy;&icy; &ncy;&acy; &scy;&acy;&mcy;&ocy;&mcy; &dcy;&iecy;&lcy;&iecy; &ncy;&acy;&scy;&tcy;&ocy;&yacy;&shchcy;&icy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy;, &dcy;&iecy;&lcy;&acy;&yucy;&tcy; &icy;&zcy;&dcy;&iecy;&lcy;&icy;&yacy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&ocy;&tcy; &ncy;&acy;&chcy;&acy;&lcy;&acy; &icy; &dcy;&ocy; &kcy;&ocy;&ncy;&tscy;&acy;, &vcy;&ycy;&pcy;&icy;&lcy;&icy;&vcy;&acy;&yacy; &pcy;&acy;&mcy;&yacy;&tcy;&ncy;&icy;&kcy;&icy; &icy;&zcy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ycy;&khcy; &gcy;&lcy;&ycy;&bcy;.
                br
                |  &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&yucy; &vcy;&scy;&iecy;&mcy; &Ocy;&Ocy;&Ocy; &quot;&Lcy;&Acy;&Zcy;&Ucy;&Rcy;&Icy;&Tcy;&quot;, &kcy;&acy;&kcy; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ocy;&iecy; &pcy;&rcy;&iecy;&dcy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&iecy;. &Scy;&tcy;&acy;&vcy;&lcy;&yucy; &tcy;&vcy;&iocy;&rcy;&dcy;&ucy;&yucy; &pcy;&yacy;&tcy;&softcy;!!! &Ucy;&dcy;&acy;&chcy;&icy; &vcy;&acy;&mcy; &icy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy; &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;!!!
              .review-score
                ul.digits
                  li.digit 1
                  li.digit 2
                  li.digit 3
                  li.digit 4
                  li.digit 5
            //
              DOTS Container
              <ul id='carousel-custom-dots' class='owl-dots'>
              <li class="owl-dot">one</li>
              <li class="owl-dot">two</li>
              </ul>
