section.suggest
  .container
    .row.justify-content-center
      .s-text.col
        h2.c-h2
          | Мы предлагаем
        a.suggest-a(href='#') Изготовление памятников из гранита
        a.suggest-a(href='#') Изготовление памятников из мрамора
        a.suggest-a(href='#') Изготовление памятников из габбро
        a.suggest-a(href='#') Изготовление мемориальных комплексов
        a.suggest-a(href='#') Установка памятнико
