extends template/default

block variables
	- var title = 'ЛАЗУРИТ'
	- var pageClass = 'page_main'

block content
	include modules/main

block scripts
	//- <script src="js/scripts.min.js"></script>
	//- <script src="js/jquery.min.js"></script>
	//- <script src="js/owl.carousel.min.js"></script>
	//- <script src="js/lightbox.min.js"></script>
