extends template/default

block variables
	- var title = 'ЛАЗУРИТ'
	- var pageClass = 'page_main'

block content
	include modules/main

block scripts
	script(src="~jquery/dist/jquery.min.js")
	script(src="~owl.carousel.min.js/dist/owl.carousel.min.js")
	script(src="~lightbox2/dist/js/lightbox.min.js")
	script(src="~swiper/js/swiper.min.js")
